dearpygui>=2.1.0
glfw>=2.8.0
numpy>=2.2.1
Pillow>=11.1.0
PyOpenGL>=3.1.7
pyserial>=3.5
typing_extensions>=4.12.2
yostlabs>=2025.9.18
psutil>=7.0.0
freetype-py>=2.5.1
#Using this fork until the pull request gets implemented into the parent repository
platformdirs @ git+https://github.com/Jayman2000/platformdirs-pr.git@2d2187030770ff9325985cab8d8586f8307b63e3
#platformdirs>=4.3.7
